header {
    display: flex;
    background-color: -webkit-linear-gradient(left, #82FD48, #538FFF);
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.logo img{
    height: 35px;
    align-items: center;
}
.conteiner1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: -webkit-linear-gradient(left, #82FD48, #538FFF);
    font-family: sans-serif, Helvetica, Arial;
    margin: 0;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: whitesmoke;
}

@media (max-width:700px){
    header{
        flex-direction: column;
        nav{
            padding: 10px 0px;
        }
    }
}
